@font-face {
  font-family: 'Breeze Sans';
  src: url('/assets/BreezeSans-Regular.ttf') format('truetype');
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: 'Breeze Sans', system-ui, sans-serif;
    @apply bg-white;
  }
}

:root {
  --primary: #0072de;
  --dark: #080A0B;
  --gray: #9A9FA6;
}




